<div class="outer">
    <img id="image" alt="image loaded failed" src="https://cdn-icons-png.flaticon.com/512/295/295128.png">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-md-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Login</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="formValue">
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input type="text" formControlName="firstName" placeholder="Enter Username">
                                </div>
                            </div>
                            <small *ngIf="formValue.controls['firstName'].dirty && formValue.hasError('required','firstName')" class="text-danger">*Username is required</small>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-lock p-2"></span>
                                    <input type="password" formControlName="password" placeholder="Enter Password">
                                </div>
                            </div>
                            <small class="text-danger" *ngIf="formValue.controls['password'].dirty && formValue.hasError('required','password')">*Password is required</small>
                            <button type="submit" class="btn btn-primary btn-block mt-4 w-100" [disabled]="formValue.invalid"  (click)="Login()">Login</button>
                            <div class="text-center text-muted pt-4">Don't have an account?<a id="forget" routerLink="/register">Sign Up</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>